# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# Environment variables (VERY IMPORTANT)
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter notebooks
.ipynb_checkpoints/

# Vector database storage
qdrant_storage/
vector_db/

# Uploaded data
data/*.pdf
data/*.txt